<mat-divider *ngIf="!item.ruta && expanded" ></mat-divider>

<a
  mat-list-item
  [ngClass]="{
    'level-1': item.nombreIcono, 
    'level-2': !item.nombreIcono
  }"
  (click)="itemSelected(item)"
  [routerLink]="item.ruta"
  routerLinkActive="active"
>

  <mat-icon class="routeIcon">
    {{item.nombreIcono}}
  </mat-icon>
  
  <span>{{item.descripcion}}</span>

  <span class="elements-spacer"></span>

  <span fxFlex *ngIf="item.subitems && item.subitems.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>

<div [hidden]="!item.subitems" [@slideInDown]="expanded ? 'open': 'close'">
  <app-nav-item-list 
    *ngFor="let subitem of item.subitems" 
    [item]="subitem" 
    [depth]="depth+1">
  </app-nav-item-list>
</div>

<mat-divider *ngIf="!item.ruta && expanded" ></mat-divider>
